<div class="container" id="login">

  <div class="panel">
    <div class="panel-body">
      <div class="text-center">
        <img src="img/logo.png" />
      </div>
    </div>
    <div class="borda">
      <div class="panel-heading bg-primary text-center">
      LOGIN
      </div>
       <div class="panel-body">
        <!-- CONSTRUÇÂO DO LOGIN -->

          <form class="form-horizontal">
            <!-- INÍCIO USUÁRIO -->
            <div class="form-group">
              <label for="user" class="control-label col-sm-3" role="user">Usuário : </label>
              <div class="col-md-8">
                <input type="number" class="input-user form-control" id="user" ng-model="usuario"/>
              </div>
            </div>
            <!-- FIM USUÁRIO  -->
            <!-- INÍCIO SENHA -->
            <div class="form-group">
              <label for="psw" class="control-label col-sm-3" role="password">Senha : </label>
              <div class="col-md-8">
                <input type="password" class="input-user form-control" id="psw" ng-model="senha" />
              </div>
            </div>
            <!-- FIM SENHA -->
            <!-- BOTÃO DE LOGIN -->
            <div class="col-md-10 centered">

                <button class="btn btn-block btn-primary" ng-click="validarUsuario()" ng-disabled="!usuario || !senha">ENTRAR</button>

            </div>
          </form>


        <!-- FIM LOGIM -->
       </div>
       <div class="panel-heading bg-primary text-center">
        ITServ - A serviço da tecnologia
       </div>
    </div>
  </div>

</div>




















<!-- <form class="form-horizontal">

<div class="borda">
<div class="panel-heading bg-primary">
LOGIN
</div>
<div class="panel-body">


<div class="form-group">
<label for="user" role="use" class="user control-label col-sm-4">Usuário:</label>
<div class="col-md-8">
<input type="text" name="usuario" class="input-user form-control" id="user" role="input-use" />
</div>
</div>

<div class="form-group">
<label for="pwd" role="password" class="pwd control-label col-sm-4" id="pwd">Senha:</label>
<div class="col-md-8">
<input type="password" name="password" class="input-pws form-control" id="pwd" role="password" />
</div>
</div>

<div class="form-group">
<div class="col-md-4">

</div>
<div class="col-md-8">
<button class="btn btn-primary btn-block">Enviar</button>
</div>
</div> -->
