<ion-view id="login" class="fundo">
  <ion-header-bar class="bar-positive">
    <h1 class="title">SYNCHRO - LOGIN</h1>
  </ion-header-bar>
  <ion-content padding="true" class="has-header">

    <ion-list class="list card">
      <ion-item class="item item-body fundo">
        <img src="img/logo.png" alt="Logo empresa" class="logo"/>
      </ion-item>
      <ion-item class="item item-body fundo">
        <label class="item item-input item-floating-label">
          <span class="input-label">CPF:</span>
          <input type="number" placeholder="Digite o CPF" class="placeholder-login" ng-model="usuario">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Senha:</span>
          <input type="password" placeholder="Digite a senha" class="placeholder-login" ng-model="senha">
        </label>
      </ion-item>
      <ion-item class="fundo"><button class="button button-block button-calm" style="font-size: 1.2em;" ng-click="validarLogin()"><strong>ENTRAR</strong></button></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
