<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Fechar corrida</h1>
    <button type="button" class="button button-clear button-icon ion-close" ng-click="closeCloseRunModal()"></button>
  </ion-header-bar>
  <ion-content ng-controller="FecharCorridaController">
    <form>

      <div class="card">
        <div class="item item-image">
          <img ng-src="{{srcImage}}" id="srcImage"/><br/>
          <button type="button" class="button button-block button-positive" ng-click="takeEndPhoto()">Tirar Foto</button>
        </div>
      </div>

        </div>

      <div class="list">
        <label class="item-input item-floating-label">
          <span class="input-label">KM</span>
          <input type="text" placeholder="Digite o valor do odometro">
        </label>
        <label class="item">
          <div class="input-label">
            Lightsaber
          </div>
        </label>
        <div class="item">
          <button type="button" class="button button-block button-assertive" ng-click="enviarDadosFecharCorrida()">Finalizar Corrida</button>
        </div>
      </div>
    </form>
  </ion-content>
  <ion-footer-bar class="bar-positive">
    <h1 class="title">- ITServ -</h1>
  </ion-footer-bar>
</ion-modal-view>
