<ion-view title="O.S. | Miscelâneas" id="page6">
  <ion-content padding="true" class="has-header">

    <ion-list>
      <ion-item class="item item-icon-left">
         <i class="icon ion-clipboard"></i>Contrato: 5955656
      </ion-item>

      <label class="item item-input item-select">
        <div class="input-label">
          Código Baixa
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label positive">Observações:</span>
        <textarea placeholder="Digite Aqui..." rows="8" cols="80"></textarea>
      </label>

      <div class="item item-divider text-center">
        <p><strong>Terminais Instalados</strong></p>
      </div>


          <label class="item item-input item-select">
            <div class="input-label">
              Etiqueta:
            </div>
            <select>
              <option>Blue</option>
              <option selected>Green</option>
              <option>Red</option>
            </select>
          </label>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="item item-divider item item-icon-left">
              <i class="icon ion-ios-barcode"></i>Serial:
            </div>
            <div class="item item-text-wrap"><p>654asr8sfse</p></div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="item item-divider item item-icon-left">
              <i class="icon ion-ios-barcode-outline"></i>Smart:
            </div>
            <div class="item item-text-wrap"><p>655465465654</p></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col"><button class="button button-block button-positive icon icon-left ion-plus-circled">Adicionar</button></div>
        <div class="col"><button class="button button-block button-assertive icon icon-left ion-minus-circled">Remover</button></div>
      </div>

        <ion-checkbox>
          <p><strong>Etiqueta:</strong> green<br /> <strong>Serial:</strong> 654654654d6wd <br /><strong>Smart:</strong> Não Possui</p>
        </ion-checkbox>

        <div class="item item-divider text-center">
          <p><strong>Terminais retirados</strong></p>
        </div>



            <div class="card">
              <div class="item item-divider item item-icon-left">
                <i class="icon ion-ios-barcode"></i>Serial:
              </div>
              <div class="item item-text-wrap">
                <input type="text" placeholder="Digite o Serial retirado">
              </div>
            </div>

            <div class="card">
              <div class="item item-divider item item-icon-left">
                <i class="icon ion-ios-barcode-outline"></i>Smart:
              </div>
              <div class="item item-text-wrap">
                <input type="text" placeholder="Digite o Smart retirado">
              </div>
            </div>

        </div>
        <div class="row">
          <div class="col"><button class="button button-block button-positive icon icon-left ion-plus-circled">Adicionar</button></div>
          <div class="col"><button class="button button-block button-assertive icon icon-left ion-minus-circled">Remover</button></div>
        </div>

          <ion-checkbox>
            <p><strong>Serial:</strong> 654654654d6wd <br /><strong>Smart:</strong> Não Possui</p>
          </ion-checkbox>

          <button class="button button-block button-calm">Miscelâneas</button>

    </ion-list>

  </ion-content>
</ion-view>
