<ion-view title="CONTRATOS" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item  ui-sref="menu.tabs">
          <div class="row">
            <i class="icon ion-person"></i>&nbsp; Nom do cliente
          </div>
            <hr>
          <div class="row">
            <div class="col"><i class="icon ion-clipboard"></i>&nbsp;2255566</div>
            <div class="col"><i class="icon ion-clock"></i>&nbsp;08:00 - 12:00</div>
          </div>
        </ion-item>
  </ion-content>
</ion-view>
