<ion-view title="ESTOQUE" id="page4">
  <ion-content padding="true" class="has-header">

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Terminais
        </div>
        <select>
          <option>EMTA</option>
          <option selected>DIGITAL</option>
          <option>DIGITAL HD</option>
          <option>DIGITAL HD MAX</option>
        </select>
      </label>

        <ion-list>
          <ion-item>1</ion-item>
          <ion-item>1</ion-item>
          <ion-item>1</ion-item>
          <ion-item>1</ion-item>
          <ion-item>1</ion-item>
        </ion-list>

      </div>
      <div class="list">
        <div class="item item-icon-left" href="#">
          <i class="icon ion-ios-grid-view"></i>
          Quantidade <strong>08</strong>
        </div>
      </div>
</ion-view>
