<ion-view title="NOTIFICAÇÔES" id="page3">
  <ion-content padding="true" class="has-header">

    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
      <button class="button button-positive">
          Cancel
        </button>
    </div>
    <h3 class="text-center">Publicações</h3>
    <div class="card">
      <div class="item item-divider">
          <div class="row">
            <div class="col"><strong>Lorem Ipsum</strong></div>
            <div class="col text-right"><a href="#" ui-sref="info" class="calm">ver</a></div>
          </div>
        </div>
        <div class="item ite-text-wrap">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="item item-divider">
            <div class="row">
              <div class="col"><strong>Publicado por:</strong> Pablo Garcia</div>
              <div class="col"><strong>Setor:</strong> T.I.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
